<p>Enter your name to see your current calorie count!</p>
<form class="form-signin"  #displayForm="ngForm" (ngSubmit)="display(displayForm.value)">
    <div class="form-label-group"> 
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" class="form-control" placeholder="Email Address" #email="ngModel" required ngModel>
    </div>
    <ul>
        <table id="foodTable">
            <tr>
                <th onclick="sortTable(0)">Food</th>
                <th onclick="sortTable(1)">Calories</th>
            </tr>
           
            <tr *ngFor="let user of calorieList">
                <td>{{ user.foodName }}</td>
                <td>{{ user.calorie }} calories</td>
            </tr>
        </table>
            
        <p>Total calories: {{totalCalories}}</p>
           
    </ul>

    <script>
       function sortTable(n) 
       {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("foodTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc"; 
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) 
            {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) 
                {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare, one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place, based on the direction, asc or desc:*/
                    if (dir == "asc") 
                    {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase())
                        {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch= true;
                            break;
                        }
                    
                    } 
                        else if (dir == "desc") 
                        {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) 
                            {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                }
                
                if (shouldSwitch) 
                {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount ++;      
                } 
                
                else 
                {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") 
                    {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        </script>
   

    <button class="btn btn-primary">Submit</button>
</form>

